body{
    border: 30px;
    margin: 0px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    border: 30px;
    margin: 50px;
    padding: 0;   
}

#navbar{
    background-color: #7bbbb9;
    padding: 10px;
    text-align: center;
    color: #02738c;
 

    display: flex;
    align-items:center;
    justify-content: center;
}

#icon{
    width: 100px;
    max-height: 100%;
    margin-right: 10px;
}

#parte1{
    height: 75px;
    max-width:100%;
}

.cabecario{
    display: flex;
}

.flex {
    display: flex;
}